<!--The content below is only a placeholder and can be replaced.-->
<app-mynav></app-mynav>
<div class="container">
  <div class="starter-template">
    <h1>Angular CLI + Bootstrap</h1>
    <p class="lead">This is my first webpage tutorial using Angular CLI.</p>
  </div>
</div>
<app-myfooter></app-myfooter>
